* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}


.ImageContainerFull {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;
}

.ImageFull {
  object-fit: cover;
  border-radius: 20px;
}

.ImageContainerProfile {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 20px;
  overflow: hidden;
}

.ImageProfile {
  object-fit: cover;
  border-radius: 20px;
}

.ImageContainerBird {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 20px;
  overflow: hidden;
}

.ImageBird {
  object-fit: cover;
  border-radius: 20px;
}

.ImageContainerIcon {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  overflow: hidden;
}

.ImageIcon {
  object-fit: cover;
  border-radius: 20px;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}