* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.MuiTypography-root {
  font-family: 'Montserrat Alternates', sans-serif !important;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}