.section {
  margin: 0;
  padding: 0;
  background: transparent;
}

.ourCard {
  background: radial-gradient(50% 50% at 50% 50%, #fff 0%, rgba(187, 188, 192, 0.3) 61.92%, #d5e0f0 100%);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: -83px;
  padding-top: 83px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  padding-inline: 20px;
}

.ourCardTitle {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #182BA1;
  margin-bottom: 24px;
  align-content: center;
}

.ourCardContent {
  margin-top: 120px;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoBlock {
  background: white;
  border-radius: 24px;
  padding: 20px;
  height: 130px;
}

.infoContent {
  flex: 1;
  min-width: 0;
}

.infoContent h2 {
  color: #182BA1;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoLogo {
  width: 105px;
  height: 105px;
  object-fit: contain;
  display: block;
}


.infoBlockH3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: rgba(12, 24, 101, 0.85);
  margin-bottom: 8px;
}
.infoBlockP {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #000;
}
.infoBlockPA {
  color: #000000;
  text-decoration: underline;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
.location {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #000;
  margin-bottom: 4px;
}
.motto {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #000;
  white-space: nowrap;
}

/* --- Територія обслуговування --- */
.serviceArea {
  width: 100%;
  height: 480px;
  position: relative;
  margin-top: 40px;
}
.serviceAreaTitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #182ba1;
  margin: 45px 0 30px;
}
.serviceAreaContent {
  width: 100%;
  height: 100%;
  position: relative;
  margin-block: 0 auto;
  background: rgba(24, 43, 161, 0.6);
  padding: 36px 64px;
}
.addressBlock {
  width: auto;
  min-height: 50px;
  height: auto;
  background: #F8F8F8;
  border-radius: 18px;
  padding: 12px;
}
.addressBlockP {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* --- В ліцеї працюють --- */
.staffTitle {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #182BA1;
  margin: 0 0 60px 0;
}
.staffContent {
  width: 90%;
  height: auto;
  min-height: 650px;
  margin: 100px auto 0;
  background: #ebebeb;
  border-radius: 30px;
  padding: 60px 60px 40px;
  position: relative;
}
.staffItem {
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 15px 0;
  border-bottom: 1px solid #000000;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.staffMarker {
  width: 20px;
  height: 19px;
  background-color: #FF5700;
  border-radius: 50%;
}
.staffInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.staffName {
  font-size: 28px;
  color: rgba(12, 24, 102, 0.85);
  font-weight: 700;
  margin-left: -20px;
}
.staffDescription {
  font-size: 18px;
  color: #000000;
  text-align: right;
}

/* --- Матеріальна база --- */
.facilitiesTitle {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #182BA1;
  text-align: center;
  margin: 100px 0 40px;
}

.facilitiesContent {
  gap: 100px;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  padding-inline: 10px;
}

.facilitiesImageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;
}

.facilitiesImage {
  object-fit: cover;
  border-radius: 20px;
}

.facilitiesInfo {
  flex: 1;
  padding-top: 16px;
}
.facilitiesSubtitle {
  font-size: 20px;
  color: #000000;
  margin-bottom: 36px;
}
.facilitiesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.facilityItem {
  display: flex;
  align-items: center;
  gap: 32px;
}
.checkIcon {
  width: 21px;
  height: 21px;
}

.infoBlock h3,
.mainInfo h3,
.specialization h3,
.contacts h3,
.teachers h3,
.anthem h3,
.totalStaff h3,
.language h3,
.name h3,
.classes h3,
.students h3,
.license h3,
.address h3,
.contactInfo h3 {
  color: #182BA1;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}

.address h3 {
  color: #182BA1;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .staffInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .staffDescription {
    text-align: left;
  }

  .staffName {
    margin-left: 0;
  }

  .ourCard {
    margin-top: -70px;
    padding-top: 70px;
  }

  .staffContent {
    padding: 30px 30px 20px;
  }
}
